---
BasedOnStyle: LLVM
IndentWidth: 8
UseTab: ForIndentation
AllowShortIfStatementsOnASingleLine: false
ColumnLimit: 0
IndentCaseLabels: true
SpacesInContainerLiterals: false
ObjCSpaceAfterProperty: true
ObjCBlockIndentWidth: 8
---
